body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myChart{
    margin-top: 20px;
}

.test{
    margin-right: 20px;
    background: #102a43;
    padding: 20px;
    border-radius: 20px;
    width: 450px;
    height: 350px;
    box-shadow: black;
}

.status-box{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.item{
    text-align: center;
    width:32%;
    padding: 10px;
    border-radius: 10px;
}

.chart-box{
    background: #0f4c5c;
    border-radius: 20px;
    height: 280px;
}

h3{
    text-align: center;
}


h2{
    text-align: center;
    margin-bottom: 20px;
}

.container {
    background: #1b263b;
    padding: 30px;
    border-radius: 20px;
    width: 450px;
    height: 480px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);

}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.Field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

label {
    width: 120px;
}

input {
    flex: 1;
    padding: 6px;
    border-radius: 6px;
    border: none;
    outline: none;
    text-align: center;
}
select{
    flex: 1;
    padding: 6px;
    border-radius: 6px;
    border: none;
    outline: none;
    text-align: center;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: #22c55e;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
background: #00a884;
}

    